
/* Setup Snippet*/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Carter+One|Montserrat&display=swap');

/* Global Styles */
html{
	font-size: 125%;
}
body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #edfeff;
	overflow-x: hidden;
}

button:disabled {
	opacity: 0.5;
}

.positionRelative {
	position: relative;
}

.positionAbsolute {
	position: absolute;
}

/* Header Component Styling */
.headerComponent{
	margin: 0;
	padding: 0;
	background: #edfeff;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.headerComponent img {
	width: 50px;
	margin-left: 30px;
	animation: shake 2.5s cubic-bezier(.36,.07,.19,.97) 3 2s;
	z-index: 5;
}

h2 {
	font-family: 'Carter One', cursive;
	font-size: 2rem;
	font-weight: lighter;
	text-align: center;
	border-radius: 50%;
	color: #142b68;
	text-align: center;
	text-shadow: #ffff00 2px 2px ;
	z-index: 4;
}

span{
	font-size:1rem;
	vertical-align: super;
}

.infoCircle{
	color: #142b68;
	top: 6%;
	left: 90%;
	cursor: pointer;
	font-size: 1rem;
}

.infoCircle:hover{
	color: #ffff00;
	background-color: #142b68;
	border-radius: 50%;
}
/* End of Header Styling */

/* Start of Instructions Screen Styling */

.welcomeScreen{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #edfeff;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.welcomeScreen h1{	
	font-family: 'Carter One', cursive;
	font-size: 2.5rem;
	font-weight: lighter;
	text-align: center;
	border-radius: 50%;
	color: #142b68;
	text-align: center;
	text-shadow: #ffff00 2px 2px ;
}

.welcomeScreen li{
	color: #edfeff;
	font-size: 1rem;
	text-shadow: 2px 2px black;
	padding: 2% 0;
}

.welcomeButton{
	padding: 2%;
	width:18%;
	background-color: #142b68;
	color: #edfeff;
	border-radius: 15px;
	text-transform: uppercase;
    border: 4px solid #ffff00;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
    transition: all 0.5s;
	margin: 1%;
}

.welcomeButton:hover{
	cursor: pointer;
	background-color: #ffff00;
	color: #142b68;
}

.contentContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color:#142b68;
}

.contentContainer img{
	border-radius: 15%;
	width: 40%;
	padding: 2%;
}

.contentContainer ul{
	background-color:#142b68;
	width:40%;
	padding: 3%;
	border-radius: 10%;
	box-shadow: 6px 8px 25px black;	
}

.playerButtons{
	display: flex;	
}

/* Loading Screen Styling */

.loadingScreen{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgb(20, 43, 104);
    background-image: linear-gradient(120deg, rgb(20, 43, 104, 0.5) 50%, rgba(45, 67, 126, 0.5) 50%);
	text-align: center;
	z-index: 10;
}

.loadingScreen h3{
	font-family: 'Montserrat', sans-serif;
	color: #ffff00;
	font-size: 1.5rem;
	text-shadow: 2px 2px black;
}

.ashGif{
	width: 45%;
	border: 8px solid #edfeff;
	border-radius: 20px;
}

/* End of loading screen styling */

/* Start of Pokemon Player Component */

.player{
	position: absolute;
	top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px black;
	font-weight: 800;
	color: #edfeff;
  font-size: 1.5rem;
}

.pokemonPlayer{
	padding: 50px 0;
	background-color: rgb(20, 43, 104, 0.5);
	background-image: linear-gradient(120deg, rgb(20, 43, 104, 0.5) 50%, rgba(45, 67, 126, 0.5) 50%);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: flex;
	min-height: 75vh;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemonPlayer p {
	color: #ffff00;
}

.pokemonPlayer>p {
	border-radius: 50%;
	background-color: brown;
	font-size: 2rem;
	padding: 10px;
	transform: translate(50%);
}



.playerPokemonContainer{
	width: 50%;
	padding: 2% 0;
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	flex: 0 1 50%;
	min-height: 330px;
}

.playerPokemonDiv {
	width: 50%;
	display: none;
	flex-direction: column;
	justify-content: center;
}

.wideDiv {
	min-width: 55%;
}

.playerPokemonContainer .pokemon{
	margin: 0 auto;
	border-radius: 50%;
	width: 50%;
	animation: moveSecond both alternate ease-in-out infinite 2s;
}

.playerPokemonContainer .facingRight.pokemon {
	transform: rotateY(180deg);
	animation: moveFirst both alternate ease-in-out infinite 2.5s;
}

.imageShadow{
	width: 30%;
	background-color: black;
	margin:0 auto;
	opacity: 0.5;
	height: 20px;
	border-radius: 50%;
	margin-top: 1%;
}

.imageShadow {
	animation: shadow both alternate ease-in-out infinite 2s;
}

.playerPokemonContainer:first-child .imageShadow {
	animation: shadow both alternate ease-in-out infinite 2.5s;
}

.pokemonPlayer> p:last-of-type {
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	margin: 0;
}

.gameBoard {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}


.gameBoard>div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.playerOptions, 
.playerButtons {
	display: flex;
	position: fixed;
	bottom: 5%;
	width: 25%;
	min-width: 300px;
	padding: 10px;
	border-radius: 20px;
	border: solid 5px #142b68;
	background-color: #edfeff;
}

.playerOptions button, 
.playerButtons button{
	padding: 4%;
	background-color: #142b68;
	color: #edfeff;
	width: 100%;
	border-radius: 15px;
	text-transform: uppercase;
	margin:1%;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-style: oblique;
	transition: all 0.5s;
}

.playerOptions button:enabled:hover, .playerOptions button:enabled:focus, 
.playerButtons button:enabled:hover, .playerButtons button:enabled:focus{
	background-color: #ffff00;
	color: #142b68;
	cursor: pointer;
}

/* Start of player Container component styling */
.playerContainer {
	width: 40%;
}

.playerCards {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
}
/* Start of Cards Component styling */

.card {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 1s;
	transform-style: preserve-3d;
}

.card-container {
	min-height: 100px;
	perspective: 800px;
	transition: all 1s;
	flex: 0 1 calc(40% - 10px);
	margin: 5px;
}

.card {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	animation: deal both ease-out 1 1.5s;
}

.card-front {
	transform: rotateY(180deg);
	transition: all 1s;
}

.card-front.flipable {
	animation: flipFront 1s both 1 linear;
}

.card-back.flipable {
	animation: flipBack 1s both 1 linear;
}

.card-back.hidden {
	animation: flipFront 1s both 1 linear;
}

.card-front.hidden {
	animation: flipBack 1s both 1 linear;
}

.card-back,
.back, 
.card-front {
	position: absolute;
	backface-visibility: hidden;
}

.card-back,
.back,
.card-back img,
.card-front {
	width: 100%;
} 

.flipable.clean {
	animation: deal both alternate-reverse ease-out 1 0.8s;
}

.card-front img {
	height: 100%;
	width: 100%;
} 

/* End of card styling */

.playerPokemonContainer:first-child .pokeball {
	animation: pokeballLeft both alternate linear 1 1.3s;
}

.playerPokemonContainer:nth-child(2) .playerContainer {
	order: 1;
}

.playerPokemonContainer .pokeball {
	animation: pokeballRight both alternate linear 1 1.3s;
	width: 40px;
	height: 40px;
	position: absolute;
}

.whiteDiv {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: light forwards 1 1s linear;
	background-color: white; 
}

.playerPokemonContainer .pokemonText {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 50%;
	color: #142b68;
	border: solid 5px #142b68;
	background-color: whitesmoke;
	border-radius: 20px;
	animation: appear forwards 1 1s linear;
}

.healthBar {
	width: 60%;
	height: 20px;
	border-radius: 20px;
	margin: 30px auto 0;
	transition: all 0.5s;
	overflow: hidden;
	position: relative;
	border: solid 3px #142b68;
	background-color: rgba(226, 226, 226, 0.616);
}

.healthBar>div {
	position: absolute;
	left: -10%;
	height: 100%;
	transition: all ease-out 1s;
	transform: skew(-30deg);
}


.playerPokemonContainer .faint, .playerPokemonContainer .facingRight.faint {
  animation: faint forwards 1 1s linear;
}

.playerPokemonContainer .facingRight.attacking, .playerPokemonContainer .attacking {
	animation: attack linear both 1 1s;
}

.playerPokemonContainer .damaged, .playerPokemonContainer .facingRight.damaged {
	animation: hit linear 1 1s;
}

@keyframes faint {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}

@keyframes rolling {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(20%, 0) rotate(45deg); }
  30% { transform: translate(30%, 0) rotate(90deg); }
  50% { transform: translate(50%, 0) rotate(180deg); }
  60% { transform: translate(30%, 0) rotate(210deg); }
  70% { transform: translate(0%, 0) rotate(300deg);}
  100% { transform: translate(-50%, 0) rotate(360deg); }
}

@keyframes attack{
    10%,30%,50%,70%,90% {
        transform: translate(25%) rotateY(0deg);
    }

    0%,20%,40%,60%,80%,100%{
        transform: translate(-25%) rotateY(180deg);
    }
}

@keyframes hit{
    10%,30%,50%,70%,90% {
        opacity: 1;
    }

    0%,20%,40%,60%,80%,100%{
        opacity: 0;
    }
}

@keyframes light {
  0%, 100% {
    opacity: 0;
  }
  50%, 60% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pokeballLeft {
  0% {
    left: 0%;
    top: 30%;
  }
    16%, 48%, 78%  {
        top: 75%;
        animation-timing-function: ease-out;
    }
    32% {
        top: 20%;
        animation-timing-function: ease-in;
    }
    62% {
        top: 50%;
        animation-timing-function: ease-in;
    }
    90% {
        top: 60%;
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate(360deg);
        top: 75%;
        animation-timing-function: ease-out;
        left:70%;
    }
}

@keyframes pokeballRight {
    0% {
      right: 0%;
      top: 30%;
    }
    16%, 48%, 78%  {
        top: 75%;
        animation-timing-function: ease-out;
    }
    32% {
        top: 20%;
        animation-timing-function: ease-in;
    }
    62% {
        top: 50%;
        animation-timing-function: ease-in;
    }
    90% {
        top: 60%;
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate(360deg);
        top: 75%;
        animation-timing-function: ease-out;
        right:70%;
    }
}

@keyframes flipFront {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes deal {
  from {
    transform: translate(0%, -1000px) rotate(0deg);
  }

  to {
    transform: translate(0%) rotate(720deg);
  }
}

@keyframes moveFirst {
  from {
    transform: translate(0,20px) rotateY(180deg);
  }

  to {
    transform: translate(0,-20px) rotateY(180deg);
  }
}

@keyframes moveSecond {
  from {
    transform: translate(0,20px);
  }

  to {
    transform: translate(0,-20px);
  }
}


@keyframes shadow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

/* Media Query Styling Begins */

/* Max-width 935 px */
@media (max-width: 935px){
	.welcomeScreen{
		background-color: #edfeff;
	}
	
	.contentContainer{
		position:relative;
		align-items: center;
	}

	.contentContainer img{
		width: 40%
	}

	.contentContainer ul{
		width: 70%;
		font-size: 1rem;
	}
}

@media (max-width:760px){
	
		.contentContainer li{
			font-size: 0.8rem;
		}
	
}